@model IEnumerable<Kursovaya.Models.img>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                       @if (ViewBag.Photodata != null)
            {
                <img class="mt-4 mb-4" width="100%" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
            }
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Img_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Img_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Img_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
