@model Kursovaya.Models.Hotel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

<div>
    @*<h4>Hotel</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableRooms)
        </dd>
    </dl>
</div>
<div>
    <a style="background-color: green; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;"  asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a style="background-color: blue; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;"  asp-action="Index">Назад</a>
</div>
