@model IEnumerable<Kursovaya.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Комментарии</h1>

<p>
    <a style="background-color: teal; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commentaryi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IdTour)
            </th>
         @*   <th>
                @Html.DisplayNameFor(model => model.IdHotelя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFlingt)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaryi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdTour)
            </td>
       @*     <td>
                @Html.DisplayFor(modelItem => item.IdHotelя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFlingt)
            </td>*@
            <td>
                    <a style="background-color: green; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Edit" asp-route-id="@item.Comment_Id">Редактировать</a> |
                    <a style="background-color: aqua; color: black; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Details" asp-route-id="@item.Comment_Id">Подробнее</a> |
                    <a style="background-color: red; color: black; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Delete" asp-route-id="@item.Comment_Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
