@model Kursovaya.Models.VModel.AddBoooking 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Выбор пользователя</h1>

<p>
    @*<a style="background-color: blueviolet; color: white;" asp-action="CreateTourForBokking">Создать тур</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour.TourId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.AvailableSpots)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.ParticipantsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tours) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>



            <td>

                 @*   <form asp-action="AddBookingANDUser" enctype="multipart/form-data" method="post">
                 
    <!-- Ваши поля модели addBoooking -->
                        <input type="hidden" name="addBoooking" value="@Model.Tour" />
                        <input type="hidden" name="addBoooking1" value="@Model.User" />
                          <input type="hidden" name="addBoooking2" value="@Model.Hotel" />
                        <input type="hidden" name="addBoooking3" value="@Model.Flight" />
                        
    <input type="hidden" name="Tour_Id" value="@item.TourId" />
    <button type="submit">Выбрать</button>
</form>
*@


                
              @*      @using (Html.HiddenFor("AddBookingANDUser", "BookingsController"))
                {
                    @Html.HiddenFor(m => m.Booking)
                        <input type="submit"  value="Выбрать">
                        <input type="hidden" name="TourId" value="@item.TourId">
                }
*@


                    @*<form asp-action="AddBookingANDUser"   enctype="multipart/form-data">
                        <input type="hidden" name="addBoooking" value="@Model">
                        <input type="hidden" name="TourId" value="@item.TourId">
                            <input type="submit" value="Выбрать" class="btn btn-success">
                        </form>*@


                    <a style="background-color: green; color: white;" asp-action="AddBookingANDUser" asp-route-addBoooking="@Model" asp-route-Tour_Id="@item.TourId">Выбрать</a> |
                   
            </td>
        </tr>
}
    </tbody>
</table>
