@model Kursovaya.Models.VModel.AddBoooking 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Выбор Авиарейса</h1>

<p>
    @*<a style="background-color: blueviolet; color: white;" asp-action="CreateTourForBokking">Создать тур</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Flight_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureDateTime)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Flights) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Destination)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDateTime)
                </td>
          
            
            <td>
                    <a style="background-color: green; color: white;" asp-action="AddBookingEnd" asp-route-addBoooking="@Model" asp-route-Flight_Id="@item.Flight_Id">Выбрать</a> |
                   
            </td>
        </tr>
}
    </tbody>
</table>
