@model IEnumerable<Kursovaay.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Бронирование</h1>

<p>
    <a style="background-color: blueviolet; color: white;" asp-action="AddBooking" asp-route-booking="@Model"> Забронировать тур </a>
</p>
</div>


<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
        
            <td>
                @*<a asp-controller="Players" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Players" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Players" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
</tbody>