@model IEnumerable<Kursovaya.Models.Customers>

@{
    ViewData["Title"] = "AddPlayerToTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddPlayerToTeam</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telephone)
                </td>
                <td>
                    <form method="post"> 
                        <input type="hidden" name="ToursId" value="@ViewBag.ToursId"> @*name="ToursId" имя в методи должны совпадать или будет конфликт*@
                        <input type="hidden" name="CustomersId" value="@item.ID"> @*тоде самое*@
                        <input type="submit" value="Выбрать" class="btn btn-success">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
