@model Kursovaya.Models.ViewModels.TeamDetailsViewModel
@*получаем тот тур который передали через представление в методе Deteils*@
@{
    ViewData["Title"] = "Details_Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детели</h1>

<div>
    <h4>Тур</h4>
    <hr>
    <div class="container p-0">
        <div class="row pb-3">
            <div class="col-md-9">
                <h4>список клиентов забронированых на тур</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Customers.First().name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customers.First().telephone)
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
            <tbody>

                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telephone)
                        </td>
                        <td>
                            <a asp-controller="Players" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-controller="Players" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-controller="Players" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
            <div class="col-md-3 text-end">
                <a asp-action="AddPlayerToTeam" asp-route-id="@Model.Tour.ID" class="btn btn-info">Зарегистрировать в туре</a>   
            </div>

        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.tour_start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.tour_start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.end_date_of_the_tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.end_date_of_the_tour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.type_of_tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.type_of_tour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.type_of_power_supply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.type_of_power_supply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.hotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.departure_flight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.departure_flight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour.arrival_flight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.arrival_flight)
        </dd>
    </dl>
</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
