@model  Kursovaya.Models.VModel.qwe

@*@model Kursovaay.Models.Tour*@



@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<!-- Отображение информации о туре -->
<h2>@Model.Tour.Name</h2>
<p>@Model.Tour.Description</p>
<!-- Остальные свойства тура -->
<!-- Форма для добавления комментария -->
<h4>Добавить комментарий</h4>
 
    <h4>Добавить комментарий</h4>
    <form asp-action="AddComment" method="post">
        <input type="hidden" name="IdTour" value="@Model.Tour.TourId" />

        <div>
            <label>Комментарий:</label>
            <input type="text" name="Commentary" />
        </div>

        <div>
            <label>Оценка:</label>
            <input type="number" name="Evaluation" />
        </div>

        <button type="submit">Добавить комментарий</button>
    </form>

    <!-- Список комментариев -->
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        <h4>Комментарии</h4>
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>
                    @comment.Commentaryi - Оценка: @comment.Evaluation
                    <a asp-action="DeleteComment" asp-route-id="@comment.Comment_Id" asp-route-tourId="@Model.Tour.TourId">Удалить</a>
                </li>
            }
        </ul>
    }


     
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Tour.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
