@model IEnumerable<Kursovaya.Models.VModel.qwe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список доступных туров</h1>

<p>
    <a style="background-color: teal; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour.AvailableSpots)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.StartDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.EndDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tour.AvailableSpots)

                  @*  @foreach (var comment in Model.Comments)
                    {
            <p>Комментарий: @comment.Commentaryi</p>
            <p>Оценка: @comment.Evaluation</p>
            <!-- Другие свойства комментария -->
                    }*@
            </td>
            <td>
                    <a style="background-color: green; color: white; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Edit" asp-route-id="@item.Tour.TourId">Редактировать</a> |
                    <a style="background-color: aqua; color: black; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Details" asp-route-id="@item.Tour.TourId">Подробнее</a> |
                    <a style="background-color: red; color: black; text-decoration: none; padding: 10px;  border-radius: 10px;" asp-action="Delete" asp-route-id="@item.Tour.TourId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
